<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Movie Watchlist{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>🎥 My Movie Watchlist</h1>
            <nav>
                <a href="{{ url_for('index') }}">Accueil</a>
                <a href="{{ url_for('add_movie') }}">Ajouter un film</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; 2025 My Movie Watchlist | Design by Mame Marie Louise Wadd</p>
    </footer>
</body>
</html>